{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'star-rating.css' | asset_url | stylesheet_tag }}

{% assign reviews = block.settings.product.metafields.prapp-public-reviews %}
{% assign avg_rating = block.settins.product.metafields.prapp.avg_rating | plus: 0 %}

<div class="prapp-block" style="padding: {{ block.settings.padding_y }}px {{ block.settings.padding_x }}px;" data-product-id="{{ block.settings.product.id }}" >
  <div class="prapp-summary">
    <div class="prapp-summary__header">
      <h2 class="prapp-summary__headline">{{ block.settings.heading }}</h2>
      {% if block.settings.allow_unverified_reviews %}
        {% if avg_rating > 0 %}
          <button type="button" class="prapp-summary__write-review">{{ block.settings.existing_reviews_action_text }}</button>
        {% else %}
          <button type="button" class="prapp-summary__write-review">{{ block.settings.no_reviews_action_text }}</button>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% if reviews != blank %}
    <div class="prapp-review">
      <ul class="prapp-review__list">
        {% for key_value in reviews %}
          {% assign review = key_value.last.value %}
          <li class="prapp-review__list-item">
            {% assign rating = review.rating | plus: 0 %}
            {% render "star-rating", rating: rating, justify_content: block.settings.stars_justify_content, fill_color: block.settings.stars_fill_color, size: block.settings.star_size %}
            <h3 class="prapp-review__list-item-meta-headline" >{{ review.reviewTitle }}</h3>
            <div>
              <p>{{ review.reviewBody }}</p>
            </div>
            <div class="prapp-review__list-item-meta">
              <p>
                <b>{{ review.name }}</b>
                on
                <b>{{ review.created_at | date: "%b %d, %Y" }}</b>
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

<script src="{{ 'product-reviews-form.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Product Reviews",
  "templates": ["product"],
  "target": "section",
  "settings": [
    {
      "type": "color",
      "id": "stars_fill_color",
      "label": "Stars Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "stars_justify_content",
      "label": "Stars Justify Content",
      "options": [
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "flex-start",
          "label": "flex-start"
        },
        {
          "value": "flex-end",
          "label": "flex-end"
        }
      ],
      "default": "center"
    },
    {
      "type": "number",
      "id": "star_size",
      "label": "Star Size",
      "default": 24
    },
    {
      "type": "number",
      "id": "padding_x",
      "label": "Horizontal Spacing",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_y",
      "label": "Vertical Spacing",
      "default": 0
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "カスタマーレビュー"
    },
    {
      "type": "text",
      "id": "no_reviews_action_text",
      "label": "Call to action text when there are no reviews",
      "default": "Be the first to review this product."
    },
    {
      "type": "text",
      "id": "existing_reviews_action_text",
      "label": "Call to action text when the product has reviews",
      "default": "Write Review"
    },
    {
      "type": "checkbox",
      "id": "allow_unverified_reviews",
      "label": "Allow unverified review submissions",
      "default": false
    },
    {
      "id": "product",
      "type": "product",
      "label": "Product",
      "autofill": true
    }
  ]
}
{% endschema %}
